.contenedor .nav {
  width: 90%;
  margin: 10px auto; }
  .contenedor .nav .menu {
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    .contenedor .nav .menu .boton {
      padding: 10px;
      margin: 10px; }
      .contenedor .nav .menu .boton:hover {
        background-color: #9768c3;
        color: white; }
      .contenedor .nav .menu .boton a {
        text-decoration: none;
        color: black; }
        .contenedor .nav .menu .boton a:hover {
          font-weight: bold;
          color: white; }

.main img {
  width: 100%; }

.main .h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  font-size: 50px;
  color: blueviolet; }

.main .h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  font-size: 35px; }

.main .parrafo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-align: center; }

.main .tarjetas {
  display: flex;
  align-items: center;
  justify-content: center; }
  .main .tarjetas .card .card-body .card-title {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: blueviolet;
    font-size: 20px; }

footer {
  margin: 20px;
  padding: 1rem;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; }
  footer .redesSociales a {
    margin-left: 1.2rem;
    width: 30px; }
    footer .redesSociales a img {
      width: 40px; }
      footer .redesSociales a img:hover {
        transform: scale(2, 2); }

.sectorRegistro {
  margin: 20px;
  padding: 20px; }
  .sectorRegistro .tituloFormulario {
    color: blueviolet;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 35px; }
    .sectorRegistro .tituloFormulario .cuadroRegistro {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      padding: 20px;
      margin: 30px;
      border: 10px blueviolet double; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.parrafo {
  text-align: center; }

.tarjetas {
  display: flex;
  align-items: center;
  justify-content: center; }
