.container{
    
    .nav{
        width:90%;
        margin: 10px auto;
        .menu{
          list-style: none;
          padding: 10px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          .boton{
            padding: 10px;
            margin: 10px;
            &:hover{
                 background-color: rgb(151, 104, 195);
                 color: white;
            }
            a{
                text-decoration: none;
                color:black;
                &:hover{
                    font-weight: bold;
                    color: white;
                    }
                }                 
            }
        }
    }
}
.main {
    img{
        width: 100%;
        }
    .h1{
       text-align: center;
       font-size: 50px;
       color: blueviolet;
       
        }
    .h2{
        text-align: center;
        font-size: 30px;
        color: black;
    }
}
.parrafo{
    text-align: center;
}
.tarjetas{
    display: flex;
     align-items: center;
     justify-content: center;
    
}